# Ignore everything by default
*

# Allow the two directories
!ambxst/
!NixOS/

# Allow all files and subdirectories inside them
!ambxst/**
!NixOS/**

# Allow the directories themselves (Git needs this)
!.gitignore
!README.md
